.footer {
    background-color: #017532;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 15px;
    font-weight: 600;
    font-size: xx-large;
    /* text-shadow: 1px 1px 2px white; */
    letter-spacing: 1px;
}

.footer img {
    max-height: 6rem;
}