table {
    width: 100%;
}

th {
    text-align: center;
    border: 2px solid;
}

td {
    width: 14%;
    text-align: center;
    border-left: 2px solid;
    border-right: 2px solid;
    /* border: 2px solid; */
}

tr {
    border: 2px solid;
}
